
parameters:
 - name: exec_environment
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "type of model to execute"


stages:
    - stage: build_validation
      displayName: build_validation
      dependsOn: 
      - variable_generation
      variables:
      - template: templates/experiment_variables.yml
      jobs:
        - template: build_validation_pipeline.yml
          parameters:
            model_type: ${{ parameters.model_type }}
    - stage: execute_training_job
      displayName: execute_training_job
      dependsOn: 
      - variable_generation
      - build_validation
      variables:
      - template: templates/experiment_variables.yml
      jobs:
      - job: Execute_ml_Job_Pipeline
        steps:
        - template: templates/get_connection_details.yml
        - template: templates/configure_azureml_agent.yml
        - template: templates/register_data_asset.yml
          parameters:
            step_name: "register training data"
            script_parameter: |
              python -m mlops.common.register_data_asset \
                --subscription_id $(SUBSCRIPTION_ID) \
                --resource_group_name  $(RESOURCE_GROUP_NAME) \
                --workspace_name $(WORKSPACE_NAME) \
                --data_purpose "pr_data" \
                --data_config_path "$(DATA_CONFIG_PATH)" \
                --environment_name ${{ parameters.exec_environment }}  
        - template: templates/execute_mlops_pipeline.yml
          parameters:
            script_parameter: |
              python -m mlops.${{ parameters.model_type }}.mlops_pipeline \
                --subscription_id $(SUBSCRIPTION_ID) \
                --resource_group_name $(RESOURCE_GROUP_NAME) \
                --workspace_name $(WORKSPACE_NAME) \
                --cluster_name $(CLUSTER_NAME) \
                --cluster_size $(CLUSTER_SIZE) \
                --cluster_region $(CLUSTER_REGION) \
                --build_reference $(BUILD.BUILDID) \
                --deploy_environment ${{parameters.exec_environment}} \
                --experiment_name $(EXPERIMENT_NAME) \
                --display_name $(DISPLAY_NAME) \
                --wait_for_completion True \
                --environment_name $(ENVIRONMENT_NAME) \
                --env_base_image_name $(ENV_BASE_IMAGE_NAME) \
                --model_name $(MODEL_NAME) \
                --data_config_path "$(DATA_CONFIG_PATH)" \
                --conda_path $(CONDA_PATH)
